.resumes-editor {
  border: 1px solid #eee;
  border-radius: 2px;

  .public-DraftEditor-content {
    height: 200px;
    margin: 0;
    padding: 8px 16px 16px;
    overflow: auto;
    background: #eee;
    cursor: text;
  }

  & &-header {
    display: flex;
    margin: 0;

    &-item {
      padding: 8px;
      list-style: none;

      &:hover {
        color: red;
      }
    }

    &-active {
      color: aquamarine;
    }
  }
}
